*{
	overflow:hidden;
	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;
}
h1{
	text-align:center;
}
.banner{ 
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0,.75),rgba(0,0,0,0,.75));
	background-size:cover;
	background-position: right;
}
.portrait{
	overflow:hidden;
	height: 250px;
	margin-left: 200px;
	margin-top: 30px;
	text-align: left;
}
.portrait img{
	height:250px;
	border-radius: 50%;
}
.navbar ul{
	overflow: hidden;
	width:100%;
	margin:0;
	padding: 0;
	display:flex;
	align-items: center;
	justify-content:space-between;
}

.navbar ul li{
	overflow:hidden;
	list-style:none;
	display:inline-block;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	display: flex;
	top: 10px;
	right: 10px;
}
.navbar ul li a{
	overflow:hidden;
	font-size: 25px;
	text-decoration:none;
	color: #161515;
	text-transform: uppercase;
	z-index: 1;
}
.navbar ul li::after{
	overflow:hidden;
	content: '';
	height: 3px;
	width: 0;
	background:#161515;;
	position: absolute;
	left:0;
	bottom:-10px;
	display:block;
	margin: auto;
	transition: 0.5s;
	z-index: 1;
}
.navbar ul li:hover::after{
	overflow:hidden;
	width:100%;
	z-index: 1;
}		
div{
	column-count: 1;
}
.content{
	overflow:hidden; 
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #000000;
	z-index: 1;
}
.content h1{
		font-size: 50px;
		margin-top:80px;
}
.content p{
		margin: 20px auto;
		font-weight: bold;
		line-height: 25px;
}	